@import "@/assets/css/variables.scss";

.app{
    @include flex_horizontal_center;
    &__container{
        display: flex;
        margin-top: 5rem;
        width: 1140px;
        max-width: 1140px;
        padding: $main-size;
    }
    &__content{
        width: 100%;
        margin-left: 1.25rem;
    }
}