@import "@/assets/css/variables.scss";

$card-width: 240px;

@mixin absolute_center(){
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

.sidebar-card{
    width: $card-width;
    max-width: $card-width;
    padding: $main-size;
    font-size: $main-size;
    background-color:#F5F5F5;
    border-radius: 4px;
    color: $black;
    &__title{
        @include flex_horizontal_between;
        font-size: .875rem;
        font-weight: bold;
    }
    &__reset{
        &-empty{
            visibility: hidden;
        }
        position: relative;
        &-tooltip{
            visibility: hidden;
            opacity: 0;
            @include flex_center;
            @include absolute_center;
            bottom: 45px;
            font-size: $main-size;
            font-weight: normal;
            width: 122px;
            padding: $main-size;
            background-color: #fff;
            border-radius: 4px;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 
            0px 2px 3px rgba(0, 0, 0, 0.05);
            transition: opacity .2s ease-in-out;
            &:before {
                content: '';
                @include absolute_center;
                display: inline-block;
                bottom: -.5rem;
                border-right: .5rem solid transparent;
                border-top: .5rem solid #fff;
                border-left: .5rem solid transparent;
            }
        }
        path{
            fill: #B9B9B9
        }
        &:hover{
            cursor: pointer;
            path{
                fill: #7284E4
            } 
            .sidebar-card__reset-tooltip{
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__actions{
        margin-top: 1rem;
        @include flex_column;
        max-height: 256px;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 2px;
        }
        &::-webkit-scrollbar-thumb{
            background-color: #E1E1E1;
            width: 2px;
            border-radius: 2px;
        }
        &::-webkit-scrollbar-track{
            background-color: transparent;
        }
    }
    &__action{
        min-height: 32px;
        @include flex_vertical_center;
        
        &:hover{
            cursor: pointer;
            background-color:#EBEBEB;
        }
    }
    &__checkbox{
        cursor: pointer;
        position: relative;
        -webkit-appearance: none;
        border-radius: 0;
        margin: 0;
        margin-right: .75rem;
        outline: none;
        transition: 100ms ease-out;
        &::after {
            content: "";
            display: inline-block;
            width: $main-size;
            height: $main-size;
            transition: .2s;
            background: url('../../assets/checkbox/normal.svg') center no-repeat;
        }
        &:hover{
            &::after {
                background-image: url('../../assets/checkbox/hover.svg');
            }
        }
        &:checked::after {
            background-image: url('../../assets/checkbox/active.svg');
        }
        &-indeterminate{
            &::after{
                background-image: url('../../assets/checkbox/indeterminate.svg');
            }
            &:hover{
                &::after {
                    background-image: url('../../assets/checkbox/indeterminate.svg');
                }
            }
        }
    }
}